*{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    border: 1px solid;

}
header{
    max-height:200px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.logo{
    display:flex ;
    max-width: 150px;
    max-height: 150px;
    border: 2px solid;
}
.contactLogo{
    display:flex ;
    max-width:  40px;
    max-height: 40px;
    margin: 0.12%;
    padding: 0.12%;
    border: 2px solid;
}